<!--The content below is only a placeholder and can be replaced.-->
<form (ngSubmit)="onSubmit(studentForm)" #studentForm="ngForm">

<div class=" col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <label>Student Number</label>
    <input 
    type="text" 
    id="studnum"
    class="form-control"
    name="studnum"
    required
    ngModel>
  
    <br>
    <label>Student First Name</label>
    <input 
    type="text" 
    id="studfname"
    class="form-control"
    name="studfname"
    required
      ngModel><br>
    <label>Student Last Name</label>
    <input 
    type="text" 
    id="studlname"
    class="form-control"
    name="studlname"
    required
      ngModel><br>
    <label>Student Program</label>
    <input 
    type="text" 
    id="studprog"
    class="form-control"
    name="studprog"
    required
      ngModel><br>
    <label>Student Year</label>
    <input 
    type="text" 
    id="studyear"
    class="form-control"
    name="studyear"
    required
      ngModel><br>

    <input type="submit" value="Add Student Entry">
    
  </div>
</form>